@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backdrop1 {
    @apply hover:shadow-3xl transition-all;
  }
  .backdrop1:hover:active {
    transform: translate(1px, 1px);
  }
  .backdrop2 {
    @apply hover:shadow-4xl transition-all;
  }
  .backdrop2:hover:active {
    transform: translate(1px, 1px);
  }
  .backdrop-light {
    @apply transition-all relative;
  }
  .backdrop-light::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: transparent;
    border: 2px solid #1f1233;
    transition: 0.3s all ease;
  }
  .backdrop-light:hover::before {
    right: -4px;
    bottom: -5px;
  }

  .clamper {
    font-size: 4.9rem;
    line-height: 5.6rem;
  }
  .clamper2 {
    font-size: clamp(1rem, 0.9528rem + 0.2797vw, 1.25rem);
  }

  @media screen and (max-width: 1356px) {
    .clamper {
      font-size: 4rem;
    }
  }
  @media screen and (max-width: 1200px) {
    .clamper {
      line-height: 5rem;
      font-size: 3.4rem;
    }
  }
  @media screen and (max-width: 1027px) {
    .clamper {
      font-size: 3rem;
      line-height: 4.2rem;
    }
  }
  @media screen and (max-width: 968px) {
    .clamper {
      font-size: 2.7rem;
      line-height: 3.8rem;
    }
  }
  @media screen and (max-width: 847px) {
    .clamper {
      font-size: 2.4rem;
      line-height: 3.4rem;
    }
  }

  @media screen and (max-width: 525px) {
    .clamper {
      font-size: 3.65rem;
    }
    .mockup {
      object-position: top !important;
    }
  }
  @media screen and (max-width: 507px) {
    .clamper {
      font-size: 3.35rem;
    }
  }
  @media screen and (max-width: 470px) {
    .clamper {
      font-size: 3.25rem;
    }
  }
  @media screen and (max-width: 456px) {
    .clamper {
      font-size: 3rem;
    }
  }
  @media screen and (max-width: 425px) {
    .clamper {
      font-size: 2.8rem;
    }
  }
  @media screen and (max-width: 378px) {
    .clamper {
      font-size: 2.6rem;
    }
  }
  @media screen and (max-width: 353px) {
    .clamper {
      font-size: 2.4rem;
    }
  }
  @media screen and (max-width: 335px) {
    .clamper {
      font-size: 2.3rem;
    }
  }

  .page-height {
    height: calc(100vh - 4rem);
  }
  .page-width {
    width: calc(100vh - 4rem);
  }

  .flex-superauto {
    flex: auto initial initial;
  }
  .text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  @media screen and (max-width: 521px) {
    .text-truncate {
      -webkit-line-clamp: 1;
    }
  }
  .customFlex {
    flex: 1 0 100%;
  }
}
body {
}

/* 
img {
  max-width: 100%;
  display: block;
} */

input[type="range"] {
  @apply h-[15px] w-full mx-0 my-2.5;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  @apply w-full h-[2.5px] cursor-pointer shadow-[0px_0px_0px_#000000] rounded-[2px] border-0 border-solid border-black;
  background: #1F1233;
}
input[type="range"]::-webkit-slider-thumb {
  @apply shadow-[0px_0px_0px_#000000] border h-[18px] w-[18px] cursor-pointer mt-[-7px] rounded-[25px] border-solid border-[#1F1233];
  background: #FAF4F0;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1F1233;
}
input[type="range"]::-moz-range-track {
  @apply w-full h-[5px] cursor-pointer shadow-[0px_0px_0px_#000000] rounded-[1px] border-0 border-solid border-black;
  background: #1F1233;
}
input[type="range"]::-moz-range-thumb {
  @apply shadow-[0px_0px_0px_#000000] border h-[18px] w-[18px] cursor-pointer rounded-[25px] border-solid border-[#1F1233];
  background: #FAF4F0;
}
input[type="range"]::-ms-track {
  @apply w-full h-[5px] cursor-pointer text-transparent border-transparent;
  background: transparent;
}
input[type="range"]::-ms-fill-lower {
  @apply shadow-[0px_0px_0px_#000000] rounded-sm border-0 border-solid border-black;
  background: #1F1233;
}
input[type="range"]::-ms-fill-upper {
  @apply shadow-[0px_0px_0px_#000000] rounded-sm border-0 border-solid border-black;
  background: #1F1233;
}
input[type="range"]::-ms-thumb {
  @apply shadow-[0px_0px_0px_#000000] border h-[18px] w-[18px] cursor-pointer mt-px rounded-[25px] border-solid border-[#1F1233];
  background: #FAF4F0;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #1F1233;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #1F1233;
}
